<!doctype html>
<html lang="en" ng-app="todoApp">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css"/>

    <!--Our CSS sheet-->
    <link rel="stylesheet" href="css/style.css">

</head>
<body>

<!--Below div is container for controller "TodoCtrl"-->
<div class="container" ng-controller="TodoCtrl as ctrl">
    <div class="row">
        <div class="col-xs-12">
            <h1 style="text-align: center">TODO APP</h1>
        </div>
    </div>
    <hr/>
    <div class="row">
        <!-- Creates to-do input Form and fields -->
        <!--The ng-submit directive specifies the function called when the Add button is clicked or ENTER is pressed-->
        <!--$valid is a boolean that specifies whether a form or a specific input field's value is valid -->
        <!--The ng-submit="..." code below, tells Angular to execute ctrl.submit() when button is clicked and the form is valid-->
        <form name="todoForm" ng-submit="ctrl.submit() && todoForm.$valid">
            <!--Using the ng-model directive, we perform a 2-way data binding between the input field and-->
            <!--the ctrl.newTodo data model. By doing so, we automatically sync the view data and the data model data -->
            <div class="col-xs-5">
                <input type="text" class="form-control" placeholder="Name goes here" ng-model="ctrl.newTodo.taskName"
                       required/>
            </div>
            <div class="col-xs-2">
                <select class="form-control" required ng-model="ctrl.newTodo.priority">
                    <option value="" selected disabled>
                        PRIORITY
                    </option>
                    <option value="HIGH">
                        HIGH
                    </option>
                    <option value="MEDIUM">
                        MEDIUM
                    </option>
                    <option value="LOW">
                        LOW
                    </option>
                </select>
            </div>
            <div class="col-xs-3">
                <input type="date" class="form-control" ng-model="ctrl.newTodo.dueDate" required/>
            </div>
            <!-- The <button> type attribute specifies the behavior of the button -->
            <!-- A button with type=submit submits form data to the server by calling the appropriate function-->
            <!-- A button with type=reset resets the field to their initial values-->
            <div class="col-xs-2">
                <button class="btn btn-primary" type="submit">&nbsp;Add&nbsp;</button>
                <button class="btn btn-default" type="reset">Reset</button>
            </div>
        </form>
    </div>
    <hr/>
    <h1>Incomplete Tasks</h1>
    <hr/>
    <!--start of sorting-->
    <div class="row">
        <div class="col-xs-3">
                    <button class="btn btn-primary" 
                            type="submit" 
                            ng-click="ctrl.showtodoarray()"/> console.log </button>   
        </div>
        <div class="col-xs-3">
                    <button class="btn btn-primary" 
                            type="submit" 
                            ng-click="ctrl.sortToDoByPriority()"/> Sort by priority </button>   
        </div>
        <div class="col-xs-3">
                    <button class="btn btn-primary" 
                            type="submit" 
                            ng-click="ctrl.showdonetodoarray()"/> console.log </button>   
        </div>
        <div class="col-xs-3">
                    <button class="btn btn-primary" 
                            type="submit" 
                            ng-click="ctrl.sortDoneToDoByPriority()"/> Sort by priority </button>   
        </div>
    </div>

    <hr/>
    <div class="row todo-list">
        <!--NG REPEAT-->
        <div class="col-sm-6 col-md-4" ng-repeat="todo in ctrl.todo" class="todo-list">
            <div class="thumbnail">
                <h3>{{todo.taskName}}</h3>

                <div style="margin-top: 20px;">
                    <div style="padding-bottom: 20px;">
                        <b>Priority:</b> &nbsp;
                        High: <input type="radio" name="priority-incomplete-{{$index}}" ng-model="todo.priority"
                                     value="HIGH"/>&nbsp;<!--what is -->
                        Medium: <input type="radio" name="priority-incomplete-{{$index}}" ng-model="todo.priority"
                                       value="MEDIUM"/>&nbsp;
                        Low: <input type="radio" name="priority-incomplete-{{$index}}" ng-model="todo.priority"
                                    value="LOW"/>&nbsp;
                    </div>
                    <div class="input-group">
                        <span class="input-group-btn">
                            <!--aria-label used when text label not visible on screen-->
                            <div class="btn-group" role="group" aria-label="...">
                                <a class="btn btn-success" ng-click="ctrl.changeStatus(false, $index)">
                                    <span class="glyphicon glyphicon-ok"></span>
                                </a>
                            </div>
                        </span>

                        <input type="date" class="form-control" ng-model="todo.dueDate"/>
                        <span class="input-group-btn">
                            <div class="btn-group" role="group" aria-label="...">
                                <a class="btn btn-danger" ng-click="ctrl.remove(false, $index)">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </a>
                            </div>
                        </span>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <hr/>
    <h1>Completed Tasks</h1>
    <hr/>
    <div class="row todo-list completed">
        <div class="col-sm-6 col-md-4" ng-repeat="doneTodo in ctrl.doneTodo | sortBy: ctrl.Priorty" class="todo-list">
            <div class="thumbnail">
                <h3>{{doneTodo.taskName}}</h3>


                <div style="margin-top: 20px;">
                    <div style="padding-bottom: 20px;">
                        <b>Priority:</b> &nbsp;
                        High: <input type="radio" name="priority-complete-{{$index}}" ng-model="donetodo.priority"
                                     value="HIGH"/>&nbsp;
                        Medium: <input type="radio" name="priority-complete-{{$index}}" ng-model="donetodo.priority"
                                       value="MEDIUM"/>&nbsp;
                        Low: <input type="radio" name="priority-complete-{{$index}}" ng-model="donetodo.priority"
                                    value="LOW"/>&nbsp;
                    </div>
                    <div class="input-group">
                        <span class="input-group-btn">
                            <div class="btn-group" role="group" aria-label="...">
                                <a class="btn btn-danger" ng-click="ctrl.changeStatus(true, $index)">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </a>
                            </div>
                        </span>

                        <input type="date" class="form-control" ng-model="donetodo.dueDate"/>
                        <span class="input-group-btn">
                            <div class="btn-group" role="group" aria-label="...">
                                <a class="btn btn-danger" ng-click="ctrl.remove(true, $index)">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </a>
                            </div>
                        </span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Load JS files: Placed at the end of the document so the pages load faster -->
<!--BEGIN BOWER COMPONENTS JS-->
<!-- bootstrap uses jquery and needs to be loaded even if we don't use directly in our app. -->
<!-- jquery should always be loaded before bootstrap -->
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/angular/angular.min.js"></script>
<!--<script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>-->
<!--END BOWER COMPONENTS JS-->

<!--BEGIN SOURCE JS-->
<script src="js/app.js"></script>
<!--END SOURCE JS-->
</body>
</html>
